body{
    background-color:#F5F5F5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    
   
}


input{

    width: 95%;
    padding: 0.9rem;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 0;
    margin: 6px 0;
    box-sizing: border-box;
    
}
input:focus{

    outline: none;
}
a{
    color: #E9E9E9;
    margin-top: 10px;
    font-size: 0.8rem;
}
.container{
    background-color: #E9E9E9; 
    margin:auto;
    width: 600px;
    right: 300;
    box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 2);
    border-radius: 5px;
    overflow: hidden;
    /*margin-top: 500px;*/
    
}
.header{
    padding: 3.12rem;
}
.flex-container{
    display:flex;
    justify-content: space-around; 
    

}
.header-title{
    color: #006666;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.header-subtitle{
    color:#009E9E;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.9rem;
}
.col-1{
      background-color: #006666;
      width: 50%;
      padding: 1.2rem;
      color: #FFFFFF;

}
.col-2{
    background-color: #009E9E;
    width: 50%;
    padding: 0.6rem 1.2rem;
    color: #FFF;
    

}
.subscription-title{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.2rem;
}
.price{
    font-size: 1.62rem; 
    font-weight: 700;
   
}
.month{
    font-size: 0.93rem;
    font-style: italic;
    margin-left: 0.9rem;
}
.button{
    font-size: 1rem;
    color: #006666;
    width: 95%;
    padding: 0.9rem 2rem;
    border-radius: 4px;
    border: none;
    background-color: #CCCCCC;
    margin-top: 1.2rem;
    cursor: pointer;
}
.button:hover{
    background-color:#E9E9E9;

}
.image-group{
    text-align: center;   
}

.register{
    background-color: #006A6A;
    padding: 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    text-align: center; 
    border-radius: 4px; 
    width:auto; /* Ocupar 50% da largura da página */
    margin: 0 auto; /* Centralizar o elemento horizontalmente */
    box-sizing: border-box;



  }

@media screen and (max-width: 620px) {
    html {
        font-size: 14px;
    }
    
    .flex-container{
        flex-direction: column;
    }
    .col-1, .col-2{
        width: 100%;
        box-sizing: border-box;
    }
    .container{
        width: 100%;
       
    
    }
    .header{
        padding: 15px;
    }

}